
.activeLine{
    color: #ffffff !important;
    background: radial-gradient(rgba(137, 230, 50, 0.6), rgba(83, 239, 125, 0.6)) !important;
}
.activeNumber{
    color: #ffffff !important;
    background: radial-gradient(rgba(137, 230, 50, 0.8), rgba(83, 239, 125, 0.8)) !important;
}
.activeYellow{
    color: #ffffff !important;
    background: yellow !important;
}

.activeCell{
    color: #ffffff !important;
    background: radial-gradient(#89e632, #53ef7d) !important;
}
.activeErrorCell{
    color: #ffffff !important;
    background: red !important
}
.cells{
    /*gap: 1px;*/
    /*grid-template-columns: repeat(3, 2vw);*/

    /*display: grid;*/
    /*text-align: center;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    /*background-color: transparent;*/

}
.bigCell{
    background-color: transparent;


    display: grid;
    grid-template-columns: repeat(3, 1fr);



}
.middleCell{

    background-color: transparent;

    gap: 1px;

    padding: 3px;
    box-sizing: content-box;
    border: 1px solid #d5dad7;
    display: grid;

}

@keyframes floating {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(0px);
    }
}
