.topBar{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 15px;
    box-shadow: 0 0 0.3em rgba(36,36,36,0);
    font-size: 1vw;
    background: radial-gradient(#b0e633, #53ef7d);

}

