.topBar{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 15px;
    box-shadow: 0 0 0.3em rgba(255, 255, 255, 0.5);

    background: linear-gradient(43deg, rgb(65, 88, 208) 0%, rgb(200, 80, 192) 46%, rgb(255, 204, 112) 100%);

}